---
import Layout from "@layouts/Layout.astro"
import ReservasModal from "@components/ReservasModal.astro"
import ConfReservaModal from "@components/ConfReservaModal.astro"
import BotonSala from "@components/BotonSala.astro"
import ContSala from "@sections/sala/ContSala.astro"
import {db, eq, tabAulas} from 'astro:db'

const aulaE = await db.select().from(tabAulas);
---

<Layout title="Aulas - Gestion Biblioteca">
    <main class="bg-slate-900 h-screen w-full flex justify-center overflow-y-auto">
        <section class="max-w-screen-xl w-full pt-10" transition:name="contAula">
            <!-- preheader -->
            <nav class="text-white/70 mb-6 font-medium">
                <a href="../" class="text-sm mb-6 hover:underline">Inicio</a>
                >
                <a href="./" class="text-white text-sm mb-6 hover:underline">Aulas</a>
            </nav>
            <header>
                <h1 class="text-4xl text-white font-bold tracking-tight" transition:name="nameAula">Aulas</h1>
                <p class="font-medium text-white/70 text-balance">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum nam quas quo velit voluptate numquam vel facilis, quasi sequi placeat.</p>
            </header>
            <section class="w-full flex gap-8 mt-10">
                <aside class="flex flex-col gap-6">
                    <p class="text-lg font-bold text-white">Salas</p>
                    <BotonSala nombre="Sala 1" isActive/>
                    <BotonSala nombre="Sala 2"/>
                    <BotonSala nombre="Sala 3"/>
                </aside>
                <ContSala />
            </section>
        </section>
        <ReservasModal />
        <ConfReservaModal />
    </main>
</Layout>
<script src="../scripts/Aula.js"></script>