---
import Layout from "@layouts/Layout.astro"
---
<Layout title="Dispositivos - Gestion Biblioteca">
    <main class="bg-slate-900 h-screen w-full flex justify-center overflow-y-auto">
        <section class="max-w-screen-xl w-full pt-10" transition:name="contDispositivos">
            <!-- Nav -->
            <nav class="text-white/70 mb-6 font-medium">
                <a href="../" class="text-sm mb-6 hover:underline">Inicio</a>
                >
                <a href="./" class="text-white text-sm mb-6 hover:underline">Dispositivos</a>
            </nav>
            <header>
                <h1 class="text-4xl text-white font-bold tracking-tight" transition:name="nameDispositivos">Dispositivos</h1>
            </header>
            <section class="w-full gap-6 mt-10">
                <p class="text-5xl text-white text-center">"🦗"</p>
            </section>
        </section>
    </main>
</Layout>