---
interface Props{
    nombre : string
    isActive? : boolean
}
import Desk from "@icons/DeskIcon.astro"
const { nombre="Sala", isActive } = Astro.props

---

<div class:list={["sala-boton w-[180px] aspect-square grid place-content-center rounded-md font-semibold gap-2", {" ": !isActive,"active": isActive}]} >
    <Desk class="w-12 h-12"/>
    <span class="font-semibold">{nombre}</span>
</div>

<style>
    .sala-boton{
        color: rgba(255, 255, 255, 0.4);
        background-color: rgba(29, 40, 58, 0.1);
        cursor: pointer;
        transition: all ease-in 300ms;
    }
    .sala-boton:hover{
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(29, 40, 58, 0.3);
    }
    .active{
        color: white;
        /* background-color: #1d283a99; */
        border: 1.5px solid transparent;
        background: linear-gradient(125deg, #1d283a99,#1d283ab9) padding-box, linear-gradient(125deg, #202c3f, #35465e) border-box;
        box-shadow: 0 2px 30px #3341551a;
    }
</style>