---
interface Props {
    fecha: string
    hora_inicio: string
    hora_final: string
    estado: string    
}
const {fecha, hora_inicio, hora_final, estado} = Astro.props
const textico = estado == "Ocupado" ? "Ocupado" : "Reservar" 
---
<div class="bg-slate-800 rounded-lg flex justify-between items-center p-3 px-4">
    <div class="titulos flex flex-col">
        <h3>{fecha}</h3>
        <p class="text-xs text-white/70">{hora_inicio} a {hora_final}</p>
    </div>
    <p class:list={["w-28 text-center font-medium text-sm px-4 py-1", 
        {
            "bg-red-700/40 shadow-sm rounded-full":estado=="Ocupado",
            "bg-green-600/60 rounded-md py-1.5 btn-crear-reserva cursor-pointer select-none":estado=="Libre"
        }]}
    >
        {textico}
    </p>
</div>

<style>
    .btn-crear-reserva{
        transition: all ease .3s;
    }
    .btn-crear-reserva:hover{
        scale: 1.02;
        filter: saturate(1.2);
    }
</style>